---

k93s:
  flavor: k3s
  masters:
    distro: centos-8
    memory: "1024"
    root_disk_size: "10"
    root_password: '!!testtesttest'
    vcpus: "1"
    count: "1"
    storage_pool: virt-lightning
  agents:
    count: "1"
    vcpus: "1"
    root_password: root
    memory: "1024"
  name: testcluster
  vms_backend: k93s.vms.lightning
  vms_backend_config:
    libvirt_uri: qemu:///system
    ssh_key_file: ~/.ssh/id_rsa.pub
